$desktop-width: 1200px;
$tablet-width: 768px;
$mobile-width: 480px;

.container {
  max-width: $desktop-width;
  max-height: 10;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: $desktop-width) and (min-width: $tablet-width) {
    max-width: $tablet-width;
  }

  // For mobile screens
  @media screen and (max-width: $mobile-width) {
    max-width: $mobile-width;
  }
}
.main {
  padding: 50px 25px 25px 25px;
}

.edit-contacts {
  margin-top: 140px;
  height: 200px;
}

.cntBgColor {
  border: 50px solid rgb(190, 238, 238);
}

.mobileZoom {
  zoom: 0.8;
}